@use "./scss//util/config.scss" as *;
.loader {
  position: relative;
  background-color: $bg;
  overflow: hidden;
  border-radius: 6px;
}

.cards-container:has(.loader-wrapper) {
  max-width: 350px;
  width: initial;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

@media (min-width: 600px) {
  .cards-container:has(.loader-wrapper) {
    width: 99%;
    max-width: 900px;

    .cards-container {
      gap: var(--space-xs);
    }
  }
}

@media (min-width: 1200px) {
  .cards-container:has(.loader-wrapper) {
    gap: var(--space-md);
    .cards-container {
    }
  }

  .explore {
    width: initial;
    max-width: initial;
    .cards-container {
      max-width: 1200px;
    }
  }
}

.loader:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    110deg,
    rgba(227, 227, 227, 0) 0%,
    rgba(227, 227, 227, 0) 40%,
    rgba(227, 227, 227, 0.5) 50%,
    rgba(227, 227, 227, 0) 60%,
    rgba(227, 227, 227, 0) 100%
  );
  animation: gradient-animation_2 1.2s linear infinite;
}

.loader .wrapper {
  height: 350px;
  margin: 0;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper > :first-child {
  margin: 0;
  height: 100%;
}

.loader-wrapper {
  box-shadow: $shadow-s;
  border-radius: 4px;
}

.load-info {
  box-shadow: $shadow-m;
}

.load-info > * {
  * {
    margin: 0;
  }
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  > * {
    background-color: $bg-dark;
    border-radius: 4px;
  }

  > :nth-child(2) {
    height: 4rem;
  }
}

.wrapper > :nth-child(2) {
  background-color: $bg-light;
  border-radius: 6px;
  height: 80%;
  margin-top: -2rem;
  padding: 1rem 1rem;

  .c1 {
    padding: 0.5rem;
    width: 60%;
  }
}

.loader .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.loader .button {
  display: inline-block;
  height: 32px;
  width: 75px;
}

.loader .line-1 {
  position: absolute;
  top: 11px;
  left: 58px;
  height: 10px;
  width: 100px;
}

.loader .line-2 {
  position: absolute;
  top: 34px;
  left: 58px;
  height: 10px;
  width: 150px;
}

.loader .line-3 {
  position: absolute;
  top: 57px;
  left: 0px;
  height: 10px;
  width: 100%;
}

.loader .line-4 {
  position: absolute;
  top: 80px;
  left: 0px;
  height: 10px;
  width: 92%;
}

@keyframes gradient-animation_2 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}
