/* From Uiverse.io by mrpumps31232 */
@use "./util/config.scss" as *;
.loading-wrapper {
  position: fixed;
  display: block;
  display: grid;
  place-items: center;
  z-index: 10;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.416);
}

.loading-wave {
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

$bg-dark: oklch(0.92 0 264);
$bg: oklch(0.96 0 264);
$bg-light: oklch(1 0 264);

.loading-bar {
  width: 20px;
  height: 10px;
  margin: 0 5px;
  background-color: $clr-primary;
  background-color: $bg-light;
  box-shadow: $shadow-m;
  z-index: 1000;
  border-radius: 5px;
  animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
  animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes loading-wave-animation {
  0% {
    height: 10px;
  }

  50% {
    height: 50px;
  }

  100% {
    height: 10px;
  }
}
