@use "./reset.scss" as *;
@use "./util/config.scss" as *;

.border {
  border: 1px solid black;

  > * {
    border: 2px solid green;
  }
}

.preview-container {
  gap: var(--space-md);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;

  * {
    line-height: 1;
  }

  .main {
    * {
      margin: 0;
    }

    margin-bottom: $space-xxs;

    justify-content: space-between;
    display: flex;
  }

  p {
    width: 86%;
    margin: 0;
    margin-bottom: $space-lg;
  }

  h2 {
    font-size: 16px !important;
  }

  > :nth-child(2) {
    flex: 1;
    width: initial;
    background-color: var(--bg);
    border-radius: 6px;
    box-shadow: var(--shadow-m);
    padding: 1.3rem;
  }

  .img-container {
    flex: 1.3;
    width: initial;
    align-self: stretch;
    box-shadow: var(--shadow-m);
    background-color: var(--bg);
    border-radius: 6px;

    .img-wrapper {
      display: grid;
      place-items: center;
      height: 100%;
      position: relative;

      > img {
        aspect-ratio: 6/4;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 6px;
      }

      .heart-icon {
        position: absolute;
        right: 0;
        width: 40px;
        height: 40px;
        display: grid;
        place-items: center;
        background-color: $bg;
        border-radius: 50%;
        top: 1rem;
        right: 1rem;

        img {
          margin: 0;
          padding: 0;

          width: 60%;
        }
      }
    }
  }

  ul {
    display: flex;
    width: initial;
    gap: 0.1rem;
    margin-top: var(--space-xs);
    img {
      width: 20px;
    }
  }

  section h3 {
    margin-bottom: var(--space-sm);
  }

  .specs {
    display: flex;
    flex-direction: column;
    color: var(--text300);
    font-size: 120px;

    gap: var(--space-xs);
    margin: 0;

    h3 {
      font-size: 120px;
    }

    li {
      display: flex;
      gap: var(--space-xs);
      width: initial;

      h3 {
        margin: 0;
        display: inline-block;
        font-weight: 500;
        text-wrap: nowrap;
      }

      > * {
        font-size: 14px;
        width: initial;
      }

      span {
        display: block;
        width: 100%;
        text-align: end;
      }
    }
  }

  h2 {
    font-size: 26px;
    margin-bottom: 0;
  }

  .colors-wrapper {
    margin-bottom: 0;
    margin-top: 0;
  }

  > section {
    flex: 0 1 400px;
  }

  h3 {
    font-size: var(--fs-sub-t);
    margin-bottom: 0;
  }

  p {
    color: var(--text300);
    font-size: 14px;
    line-height: 1.3;
    font-weight: 300;
  }

  .colors-wrapper {
    margin-top: var(--space-xl);
  }

  .specs {
    span {
      font-weight: 300;
      letter-spacing: 1.5px;
    }
  }

  h3 {
    margin-bottom: var(--space-xs);
  }

  section .last-section {
    margin-top: var(--space-xl);

    .stats {
      font-size: 14px;
      margin-bottom: $space-sm;
      font-size: $fs-small;

      h3 {
        margin-bottom: $space-xxs;
        font-size: var(--fs-t);
        font-weight: 700;
      }

      div {
        font-size: $fs-small;
        font-weight: 400;
        color: $text300;
      }
    }

    .btn-wrapper {
      display: flex;
      margin-top: var(--space-sm);
      gap: var(--space-xs);
      flex-wrap: wrap;

      > * {
        flex: 1 1 100px;
        border-radius: 6px;
        border: none;
      }

      > :nth-child(1),
      > :nth-child(2) {
        width: initial;
        padding: 0.6rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $space-xxs;

        @extend .primary-btn;
        display: flex;
        max-width: 150px !important;
        font-size: 12px !important;

        img {
          width: 16px;
        }
      }
    }
  }
}

.modal-confirmation.active {
  display: block;
}

.modal-confirmation {
  --card-padding: 1rem;
  --modal-size: 400px;
  position: fixed;
  background-color: rgba(31, 31, 31, 0.459);
  inset: 0;
  display: none;

  .confirm-container {
    place-items: center;
    display: grid;
    min-height: 100%;
  }

  .confirm-wrapper {
    width: min(70%, 400px);
    background-color: $bg;
    padding: var(--card-padding);
  }

  .btn-wrapper {
    display: flex;

    * {
      flex: 1;
    }
  }
}

.primary-btn {
  font-weight: 500;
  background-color: $clr-primary;
  color: white;
  font-size: 14px;
  width: 100%;
  max-width: 200px;
}

.t-wrapper.in {
  margin: 0;
  display: block;
  z-index: 100;
  opacity: 1;

  .toast-container {
    margin: 0;
    transition: 1s;
    transform: none;
  }
}

.t-wrapper.out {
  margin: 0;
  display: block;
  z-index: 100;
  opacity: 1;

  .toast-container {
    margin: 0;
    transition: 1s;
    transform: translateX(25rem);
  }
}

.t-wrapper {
  opacity: 0;
  min-height: 100vh;
  position: fixed;
  inset: 0;
  z-index: -1;

  .toast-container {
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    // margin-right: -22rem;
    transform: translateX(25rem);
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background-color: $bg-light;
    padding: 0.5rem 1rem;
    width: min(50%, 300px);
    box-shadow: $shadow-l;
    display: flex;
    justify-content: space-between;
  }

  .success {
    border: 2px solid green;
  }

  .error {
    border: 2px solid red;
  }

  .warning {
    border: 2px solid yellow;
  }
}

.toast-container.out {
  background-color: red;
  transform: translateX(25rem);
}

@media (min-width: 1200px) {
  .preview-container {
    flex-direction: row;
  }
}
